*{
   margin: 0px;
   padding: 0px; 
}

html{
   scroll-behavior: smooth;
}

.navbar{
   display: flex;
   height: 44px;
   
}
.nav-list{
   display: flex;
   width: 50%;
   align-items: center; 
   text-align: right;
}

.nav-list li{
   margin: 20px 45px;
}

ul {
   list-style-type: none;
}

.logo img{
   width: 30px;
   height: 30px;
   border: 2px solid white;
   border-radius: 25px;
   margin-left: 12px;
}

.righnav{
   width: 50%;
   text-align: right;
   align-items: center;
}

.righnav input{
   margin-top: 15px;
   margin-right: 5px;
   border-radius: 5px;
}

.righnav button{
   margin-right: 20px;
}

.nav-list li a{
   text-decoration: none;
   color: rgb(255, 0, 0);
   transition: 0.5s;
}

.nav-list li a:hover{
   color: rgba(255, 253, 253, 0.87);
   transform: scale(1.5);
}

.main{
   background:  url("https://www.linkpicture.com/q/kk.jpg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   color: wheat;
   height: 660px;
   backdrop-filter: blur(100px);
   
}

.main1{
   text-align: left;
   padding-left:110px ;
   padding-top: 250px;
   font-size: 25px;
   font-family:cursive;
}
#name{
   font-size: 65px;
   padding-left: 0px;
   margin-top: -5px;
   color: rgb(255, 0, 0);
}

#intro{
   font-size: 15px;
}

.main2{
   margin-top: 189px;
   background-color: black;
   display: flex;
   flex-wrap: wrap;
   overflow: hidden;
}

.logo2 img{
   margin-top: 100px;
   margin-bottom: 50px;
   margin-left: 100px;
   width: 300px;
   height: 500px;
}

.about{
   text-align: center;
   margin-top: 90px;
   font-size: 25px;
   color: white;
   padding-left: 15px;
   padding-right: 15px;
   font-family: cursive;
   align-items: center;
}

.about h2{
   font-size: 45px; margin-left:10px;
}
.about h2 span{
   color: red;
}

#abouttxt{
   font-size: 15px;
   margin-left: 80px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

#service{
   background-color: black;
   display: flex;
   height: 500px;
   flex-wrap: wrap;
}
#ser{
   background-color: black;
}
#sertxt {
   font-size: 35px;
   margin-left: 500px;
}
.service{
   background-color: rgb(45, 47, 46);
   color: white;
   width: 200px;
   height: 170px;
   margin-top: 50px;
   margin-left: 140px;
   border-radius: 15px;
   text-align: center;
   padding: 20px;
   transition: 2s;

}
.service p{
   text-align:left;
   font-size: 15px;
}
.service h3{
   text-align: center;
   color:rgb(253, 0, 0) ;
   font-family: cursive;
   font-size: 20px;
}
.service:hover{
   transform: scale(1.2);
}

.tab-titles{
   display: flex;
   margin: 40px 150px 40px;
}

.tab-links{
   margin-right: 150px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   position: relative;
}
.tab-links::after{
   content: '';
   width: 0;
   height: 3px;
   background: red;
   position: absolute;
   left:0;
   bottom: -8px;
   transition: 0.5s;
}
.tab-links.active-link::after{
   width: 50%;
}
.tab-content{
   margin-left: -100px;
}
.tab-content ul li span{
   font-size: 14px;
   color: red;
}
.tab-content ul li{
   font-size: 15px;
   text-align: left;
   margin-left: 350px;

}
.tab-content ul{
   margin-left: -100px;
}

.tab-content{
   display: none;
}
.tab-content.active-tab{
   display: block;
}

#work{
   background-color: black;
margin-top: 1200px;

}
.wrk{
   display: flex;
   flex-wrap: wrap;
}
#wk h2{
   color: white;margin-left: 550px;font-size: 45px;color: red;
}
.wrk1,.wrk2,.wrk3{
   width: 300px;
   height: 300px;
   margin-top: 100px;
   margin-left: 100px;
   border-radius: 15px;
   flex-wrap:wrap;
}
.wrk1 img{
   width: 300px;
   height: 300px;
   border-radius: 15px;
   transition: 1s;
   flex-wrap:wrap;
}
.wrk1 img:hover{
   transform: scale(1.2);
}

.wrk2 img{
   width: 300px;
   height: 300px;
   border-radius: 15px;
   transition: 1s;
   flex-wrap:wrap;
}
.wrk2 img:hover{
   transform: scale(1.2);
}

.wrk3 img{
   width: 300px;
   height: 300px;
   border-radius: 15px;
   transition: 1s;
   flex-wrap:wrap;
}
.wrk3 img:hover{
   transform: scale(1.2);
}

#cont{
   background-color: rgb(0, 0, 0);
   display: flex;
   height: 700px;
   flex-wrap: wrap;
}
.icons{
   margin-left: 150px;
   margin-top: 100px;
}
.icons a,i{
   color: white;
   text-decoration: none;
   size: 50px;
   font-size: 25px;
}
.icons h2{
   color: rgb(255, 0, 0);
   font-size: 45px;
}
.mail{
   margin-left: 350px;
   margin-top: 130px;
}
.mail input{
   height: 35px;
   width: 300px;
   margin: 10px;
}
#mes{
   height: 60px;
}
.mail button{
   margin-left: 15px;
   padding: 8px;
   background-color: red;
   border-radius: 13px;
}
#ig{
   margin-top: 105px;
}